 <!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<title>天能物业管理</title>
<link rel="stylesheet" href="/css/index.css" type="text/css">
<link rel="stylesheet" href="/css/zym.css" type="text/css">

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/hm.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/jquery/layer/layer.js"></script>


</head>
<body>
<!--头部-->
<!--头部-->
<!--引入topbar-->
<div th:replace="commons/top::topbar"></div>
<!--子页-->
<div class="ziye_bj">
	<div class="ziye_tu">
		<img src="/picture/jdanli_03.jpg">
	</div>
</div>
<!--关于我们-->
<div class="zy_gywm">
	<div class="ejdh" style="height: 1050px;">
		<div class="shang_g"></div>
		<div class="women">
			<div class="btmc">
				<h1>P</h1>
				<p>项目展示<span>resentation</span></p>
			</div>
			<ul class="skb">
				<li style="background: #005bac; width: 25%;"></li>
				<li style="background: #ff8400; width: 20%;"></li>
				<li style="background: #d3d3d3; width: 55%;"></li>
			</ul>
		</div>
		<div class="zy_dh_lb">
			<ul>
				<li id="women"><img src="/picture/zy1_08.png"><a id="wenzidangq" href="#">案例</a></li>
			</ul>
		</div>
	</div>
	<div class=""></div>
	<div class="zynr_db" style="height: 1000px;">
		<div class="lujing">
			<h2>案例</h2>
			<p>您的位置：首页 > 案例</p>
		</div>
		<ul class="skb" style="margin-bottom: 20px;">
			<li style="background: #005bac; width: 12%;"></li>
			<li style="background: #ff8400; width: 15%;"></li>
			<li style="background: #d3d3d3; width: 73%;"></li>
		</ul>

		<!--内容-->
		<div class="gsjj_nr" id="Items">
			<ul class="anlizs_lb"></ul>
			<div class="webdiyerCss" id="pageItems">
				<ul class="pagination"></ul>
	        </div>
		</div>
	</div>
</div>
<script>
	$(function(){
		initData(1);
	});
	json={
		pageNum:1,
		pageSize:9
	}
	function initData(pageNum){
		json.pageNum = pageNum;
		index = -1;
		$.ajax({
			type:'post',
			url:'/pageListItem',
			data:json,
			beforeSend:function(){
				index = layer.load(1,{time:10*1000});
				return true;
			},
			success:function(data){
				layer.close(index);
				initshow(data);//数据显示
				initNavg(data);//分页显示
			}
		});
	}
//==================显示数据====================================================
	function initshow(data){
		var list = data.list;
		$("#Items ul").empty();
		$.each(list,function(i,e){
			var li = $('<li></li>');
			li.append('<div class="anlz_tp_z">' +
					'<div class="anlz_tp"><img src="'+e.imageurl.split(',')[0]+'" style="width: 360px;height: 202px"></div>' +
					'<div class="anlz_fg">' +
					'<a href="/productslist?id='+e.id+'" class="fg_xk">' +
					'<p>查看详情</p>' +
					'<img src="/picture/womends_06.png">' +
					'</a>' +
					'</div>' +
					'</div>' +
					'<a class="anlibt" href="productslist.html"><h5>'+e.title.substring(0,10)+'</h5></a>');
			li.appendTo($('#Items ul'));
		});
	}

	//==================显示分页====================================================
	function initNavg(data){
		$("#pageItems").empty();
		var navigatepageNums = data.navigatepageNums;
		$('#pageItems').append($('<li style="float: left;"><a style="pointer-events:none;">共'+data.total+'条</a></li>'));
		if(data.pageNum == 1){
			$('#pageItems').append($('<li style="float: left;"><a style="pointer-events:none;">首页</a></li>'));
		}else{
			$('#pageItems').append($('<li style="float: left;"><a style="cursor:pointer;" onclick="initData('+1+')">首页</a></li>'));
		}
		if(data.isFirstPage){
			$('#pageItems').append($('<li style="float: left;"><a style="pointer-events:none;">上一页</a></li>'));
		}else{
			$('#pageItems').append($('<li style="float: left;"><a style="cursor:pointer;cursor:pointer;" onclick="initData('+(data.pageNum-1)+')">上一页</a></li>'));
		}
		$.each(navigatepageNums,function(i,num){
			if(num==data.pageNum){
				$('#pageItems').append($('<li style="float: left;"><a style="background-color: deepskyblue;pointer-events:none;">'+num+'</a></li>'));
			}else{
				$('#pageItems').append($('<li style="float: left;"><a style="cursor:pointer;" onclick="initData('+num+')">'+num+'</a></li>'));
			}
		});
		if(data.isLastPage){
			$('#pageItems').append($('<li style="float: left;"><a style="pointer-events:none;" >下一页</a></li>'));
		}else{
			$('#pageItems').append($('<li style="float: left;"><a style="cursor:pointer;" onclick="initData('+(data.pageNum+1)+')">下一页</a></li>'));
		}
		if(data.pageNum==data.pages){
			$('#pageItems').append($('<li style="float: left;"><a style="pointer-events:none;" >尾页</a></li>'));
		}else{
			$('#pageItems').append($('<li style="float: left;"><a style="cursor:pointer;" onclick="initData('+(data.pages)+')">尾页</a></li>'));
		}
		$('#pageItems').append($('<li style="float: left;"><a style="pointer-events:none;">共'+data.pages+'页</a></li>'));
	}

</script>
<!--底部-->
<div th:replace="commons/top::bottom"></div>
</body>
</html>
