 <!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<title>天能物业管理</title>
<link rel="stylesheet" href="/css/index.css" type="text/css">
<link rel="stylesheet" href="/css/zym.css" type="text/css">

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/hm.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/jquery/layer/layer.js"></script>


</head>
<body>
<!--头部-->
<!--引入topbar-->
<div th:replace="commons/top::topbar"></div>
<!--子页-->
<div class="ziye_bj">
	<div class="ziye_tu">
		<img src="/picture/jdanli_03.jpg">
	</div>
</div>
<!--关于我们-->
<div class="zy_gywm">
	<div class="ejdh" style="height: 1050px;">
		<div class="shang_g"></div>
		<div class="women">
			<div class="btmc">
				<h1>P</h1>
				<p>项目展示<span>resentation</span></p>
			</div>
			<ul class="skb">
				<li style="background: #005bac; width: 25%;"></li>
				<li style="background: #ff8400; width: 20%;"></li>
				<li style="background: #d3d3d3; width: 55%;"></li>
			</ul>
		</div>
		<div class="zy_dh_lb">
			<ul>
				<li id="women"><img src="/picture/zy1_08.png"><a id="wenzidangq" href="#">项目案例</a></li>
			</ul>
		</div>
	</div>
	<div class="zynr_db" style="height:100%;">
		<div class="lujing">
			<h2>项目案例</h2>
			<p>您的位置：首页 > 项目案例</p>
		</div>
		<ul class="skb" style="margin-bottom: 20px;">
			<li style="background: #005bac; width: 12%;"></li>
			<li style="background: #ff8400; width: 15%;"></li>
			<li style="background: #d3d3d3; width: 73%;"></li>
		</ul>

		<!--内容-->
		<div class="gsjj_nr">
			<div class="al_biaoti" id="dateglance"></div>
			<div class="ban" id="demo1">
				<div class="ban2" id="ban_pic1">
					<div class="prev1" id="prev1">
						<img src="/picture/zy_03.png"/>
					</div>
					<div class="next1" id="next1">
						<img src="/picture/zy_05.png"/>
					</div>
					<ul>
						<li><img src="static/picture/anlizs_06.jpg"/></li>
						<li><img src="static/picture/anlizs_06.jpg"/></li>
						<li><img src="static/picture/anlizs_06.jpg"/></li>
					</ul>
				</div>
				<script src="/js/jquery.min.js"></script>
				<script src="/js/pic_tab.js"></script>
				<script>
				jq(function(){
					jq('#demo1').banqh({
						box:"#demo1",//总框架
						pic:"#ban_pic1",//大图框架
						pnum:"#ban_num1",//小图框架
						prev_btn:"#prev_btn1",//小图左箭头
						next_btn:"#next_btn1",//小图右箭头
						pop_prev:"#prev2",//弹出框左箭头
						pop_next:"#next2",//弹出框右箭头
						prev:"#prev1",//大图左箭头
						next:"#next1",//大图右箭头
						pop_div:"#demo2",//弹出框框架
						pop_pic:"#ban_pic2",//弹出框图片框架
						pop_xx:".pop_up_xx",//关闭弹出框按钮
						mhc:".mhc",//朦灰层
						autoplay:true,//是否自动播放
						interTime:5000,//图片自动切换间隔
						delayTime:400,//切换一张图片时间
						pop_delayTime:400,//弹出框切换一张图片时间
						order:0,//当前显示的图片（从0开始）
						picdire:true,//大图滚动方向（true为水平方向滚动）
						mindire:true,//小图滚动方向（true为水平方向滚动）
						min_picnum:5,//小图显示数量
						pop_up:true//大图是否有弹出框
					})
				})
				</script>
			</div>
			<div class="wzsm" id="contentItem"></div>
			<div>
		        <div class="div_list_item">
		            <div class="bdsharebuttonbox">
		                <a class="bds_more" href="#" data-cmd="more"></a>
		                <a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone" data-id="635623857208296120"></a>
		                <a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina" data-id="635623857208296120"></a>
		                <a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq" data-id="635623857208296120"></a>
		            </div>
		        </div>
		    </div>
		    <script type="text/javascript">
		        //全局变量，动态的文章ID
		        var ShareId = "";
		        //绑定所有分享按钮所在A标签的鼠标移入事件，从而获取动态ID
		        $(function () {
		            $(".bdsharebuttonbox a").mouseover(function () {
		                ShareId = $(this).attr("data-id");
		            });
		        });

		        /* 
		        * 动态设置百度分享URL的函数,具体参数
		        * cmd为分享目标id,此id指的是插件中分析按钮的ID
		        *，我们自己的文章ID要通过全局变量获取
		        * config为当前设置，返回值为更新后的设置。
		        */
		        function SetShareUrl(cmd, config) {            
		            if (ShareId) {
		                config.bdUrl = "http://shiyousan.com/post/" + ShareId;    
		            }
		            return config;
		        }

		        //插件的配置部分，注意要记得设置onBeforeClick事件，主要用于获取动态的文章ID
		        window._bd_share_config = {
		            "common": {
		                onBeforeClick:SetShareUrl,"bdSnsKey":{},"bdText":"","bdMini":"2"
		                ,"bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"
		            }, "share": {}
		        };
		        //插件的JS加载部分
		        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+ ~(-new Date() / 36e5)];
		    </script>
		    <div class="sx_pian" id="pageNum"></div>
		    <div class="fanhui">
				<a href="products.html"><img src="/picture/fanhui_03.png"><span>返回列表</span></a>
		    </div>
		</div>
		<input type="hidden" th:value="${pageNumId}" id="pageNums">
	</div>
<script>
	$(function () {
		initData($('#pageNums').val());
	});
	json={
		pageNum:1,
		pageSize:1
	}
	function initData(pageNum){
		json.pageNum=pageNum;
		index = -1;
		$.ajax({
			type:'post',
			url:'/getItemById',
			data:json,
			beforeSend:function(){
				index = layer.load(1,{time:5*1000})
				return true;
			},
			success:function(data){
				layer.close(index);
				initshow(data);//显示数据
				initNavg(data);//显示分页
				pagebefore(data);//前一页
				nextpage(data);//后一页

			}
		});
	}
//========================前一页==================================================
	function pagebefore(data){
		var id = data.pageNum-1;
		if(id==0){
			$('#pagebeforeContent').after('这是第一页');
			return false;
		}
		$.ajax({
			type:'post',
			url:'getPagebeforeById',
			data:{id:id},
			success:function(data){
				$('#pagebeforeContent').after(data.title);
			}
		});

	}
//==========================后一页==============================================
	function nextpage(data){
		var id = data.pageNum+1;
		if(id==data.pages){
			$('#nextpageContent').after('这是最后一页');
			return false;
		}
		$.ajax({
			type:'post',
			url:'getextpageById',
			data:{id:id},
			success:function(data){
				$('#nextpageContent').after(data.title);
			}
		});
	}
//======================显示分页===================================================
	function initshow(data){
		var Items = data.list;
		$("#ban_pic1 ul").empty();
		$('#contentItem').empty();
		$('#dateglance').empty();
		$.each(Items,function(i,e){
			var imgs = e.imageurl.split(',');
			var li = $('<li></li>');
			for(var i=0;i<imgs.length;i++){
				if(imgs[i]!=null && imgs[i]!=""){
					var li = $('<li></li>');
					li.append('<img src="'+imgs[i]+'" width="900px" height="600px"/>');
				}
				li.appendTo($('#ban_pic1 ul'));
			}
			var div = $('<div></div>')
			div.append('<div>'+e.content+'</div>');
			div.appendTo('#contentItem');
			var h3 = $('<h3>'+e.title+'</h3>');
			var span = $('<span>发布时间：'+timestampToTime(e.createdate)+'　浏览次数：'+e.glance+' 次　　来源：'+e.source+'</span>');
			h3.appendTo($('#dateglance'));
			span.appendTo($('#dateglance'));
		});
	}
//================================时间转换============================================
	function timestampToTime(timestamp) {
		var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
		Y = date.getFullYear() + '-';
		M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
		D = date.getDate() + ' ';
		h = date.getHours() + ':';
		m = date.getMinutes() + ':';
		s = date.getSeconds();
		return Y+M+D;
	}
//========================分页显示==================================================
	function initNavg(data){
		$('#pageNum').empty();
		if(data.pageNum==1) {
			var a1 = $('<a href="#" disabled="disabled">上一篇:&nbsp;&nbsp;&nbsp;<span id="pagebeforeContent"></span></a>');
		}else{
			var a1 = $('<a href="#" onclick="initData(' + (data.pageNum - 1) + ')">上一篇:&nbsp;&nbsp;&nbsp;<span id="pagebeforeContent"></span></a>');
		}
		if(data.pageNum+1==data.pages){
			var a2 =$('<a href="#" disabled="disabled">下一篇：&nbsp;&nbsp;<span id="nextpageContent"></span></a>');
		}else{
			var a2 =$('<a href="#" onclick="initData('+(data.pageNum+1)+')">下一篇：&nbsp;&nbsp;<span id="nextpageContent"></span></a>');
		}
		a1.appendTo($('#pageNum'));
		a2.appendTo($('#pageNum'));
	}

</script>
</div>

<!--底部-->
<div th:replace="commons/top::bottom"></div>
</body>
</html>
