<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xutao.pmc.mapper.TbNewsChildrenMapper" >
    <select id="getmaxMinById" resultType="com.pmc.bean.TbNewsChildren">
       select MAX(id) as maxId,min(id) as minId from tb_news where type=#{typeId}
    </select>

</mapper>